In [2]:
import pandas as pd
import numpy as np

Информация по талицам:

contractor_test - информация о контрагентах 

 - id - идентификационный номер
 - name_contractor - название компании контрагента
 - form - передача форм собственности предприятий
 - ITN - ИНН
 
contractor_test - информация о контранках

 - number - номер договора
 - data - дата заключения договора
 - INT_contractor - ИНН контрагента, с которым заключен Договор
 - our_template	 - наш шаблон Договора (1 - Наш договор; 0 - Договор контрагента)
 - price - стоимость контракта 
 - object - объект строительства
 - gu - гарантийные удержания
 - gp - ген.услуги
 - prepayment - аванс

In [4]:
# Информация о Контрактах

class WorkWithContract():
    
    def __init__(self, data):
        self.data = data
        self.gu = 0.05
        self.gp = 0.02
        
    def new_contract(self.data):
        for i in self.data.columns:
            print(f'Введите информацию {i}')
            a = input()
            if i == 'our_template':
                if a == 1:
                    
                
#         new_row = pd.Series(data={'name':'Geo', 'physics':87, 'chemistry':92})
        return self.data.append(new_row, ignore_index=False)



# Расчёт задолности по Объекту

class ObjectDebt(): 
    
    def __init__(self, data):
        self.data = data
    
# Расчёт задолности по Контрагенту


class CotractorDebt():

    def __init__(self, data):
        self.data = data

# Расчёт задолности по Контракту

class ContractDebt():
    
    def __inin__(self, data):

In [3]:
contractor = pd.read_csv('contractor_test.csv', sep =';')

In [9]:
contractor

   id name_contractor form         ITN  Unnamed: 4
0   1       ПСК Аракс  ООО  7816659721         NaN

In [21]:
data = pd.read_csv('contract _test.csv', sep =';')

In [22]:
data

,number,data,INT_contractor,our_template,price,object,gu,gp,prepayment
0,ЛТС-123,12.02.2021,7816659721,1,1300000.0,NEW_TIME,0.05,"0,02",0